# Node modules
node_modules/
rag-test/node_modules


# Environment variables
.env


.claude

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Docker volumes (generated at runtime)
milvus/volumes/

es-test/volumes/
neo4j-graphrag/volumes/